* {
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.para {
  width: 600px;
  min-height: 200px;
  background: whitesmoke;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 600;
  color: #555;
}

.line-container {
  width: 500px;
  height: 8px;
  background: whitesmoke;
  border-radius: 10px;
  overflow: hidden;
}
.line {
  height: 100%;
  width: 0px;
  background: #666;
}
